<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<div *ngFor="let user of users">
  {{user.name}}
</div>
<div>
  <button (click)="getGroups()">Get Groups</button>
  <div *ngFor="let group of groups">
      {{group.name}}
      <ul>
        <li *ngFor="let person of group.persons">
          {{person.name}} {{person.person}}
        </li>
      </ul>
    </div>
</div>
</div>